{% extends "base.html"%}

{% block title %} Add Users Post {{u.first_name}} {{u.last_name}} {% endblock %}

{% block content %} 
<h1> Add Post For {{u.first_name}} {{u.last_name}} </h1>
<form action="/users/{{u.id}}/posts/new" method="post">
    <label for="title"> Title:</label>
    <br>
    <input type="text" placeholder="Title" name="title">
    <br>
    <label for="content"> Content:</label>
    <br>
    <input type="text" placeholder="Content" name="content">
    <br>
    <button type="submit"> Add </button>  <button> <a href="/users/{{u.id}}"> Cancel </a></button>
    <br>
</form>
{% endblock %}