{% extends "base.html"%}

{% block title %}  All Users Page  {% endblock %}

{% block content %} 
<img src="{{users.image_url}}" alt="">
<h1> {{users.first_name}} {{users.last_name}} {{users.id}}</h1>
<button> <a href="/users/{{users.id}}/edit">Edit</a></button> 
 <form action="/users/{{users.id}}/delete" method="post">
    <button type="submit">Delete</button>
    </form>
<h2>Posts</h2>

<ul>
    {% for p in posts %}
    <li>
        <a href="posts/{{p.id}}">{{p.title}}</a> 
    </li>
    {%endfor%}
</ul>

<button> <a href="{{users.id}}/posts/new"> Add Post </a></button>
{% endblock %}

