{% extends "base.html"%}

{% block title %} Edit Users Post Page  {% endblock %}

{% block content %} 
<h1> Edit post </h1>
<form action="/users/posts/{{u_post.user_post.id}}/edit" method="post">
    <label for="title"> Title:</label>
    <br>
    <input type="text" placeholder="title" name="title">
    <br>
    <label for="content"> Content:</label>
    <br>
    <input type="text" placeholder="content" name="content">
    <br>
    <button type="submit">Save</button>  <button> <a href="/users/{{u_post.user_post.id}}"> Cancel </a>
    </button>
    <br>
    {% for t in tags %}
    <ul>
        <h1>{{t.id}}</h1>
        <input type="checkbox" name="{{t.id}}" id="{{t.id}}" value="{{t.tag_name}}">
        <label for="{{t.tag_name}}">{{t.tag_name}}</label> <br>
    </ul>
    {% endfor %}
</form>
{% endblock %}
